<IfModule mod_negotiation.c> 
  Options -MultiViews 
</IfModule>
<IfModule mod_rewrite.c>
  RewriteEngine On 
  RewriteBase /performance/t7/ 
  RewriteRule ^index\.html$ - [L] 
  RewriteCond %{REQUEST_FILENAME} !-f 
  RewriteCond %{REQUEST_FILENAME} !-d 
  RewriteRule . /performance/t7/index.html [L]
</IfModule>